/********************************************************************* CSS VARIABLES *********************************************************************/ 
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root {

  --main-bg-color : #D0307D;
  --secondary-bg-color : #191919;
  --light-color : #f1f1f1;
  --dark-color: #131313;
  --third-color: #d9d9d9;
  --box-shadow: #e1e1e1 0px 1px 0px, #e1e1e1 0px 1px 2px, #e1e1e1 0px 2px 4px;
  --font-title :  'Great Vibes', cursive;
  --font-text :'Roboto', sans-serif;
}


/********************************************************************* BASIC CSS *********************************************************************/ 
.desktop {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  color: var(--light-color);
  font-family: var(--font-text);
  overflow-x: hidden;
}
h1 {
  font-size: 3rem;
  text-align: center;
}
h1,h3 {
  font-family: var(--font-title);
  letter-spacing: 0.05em;

}

a {
  color: initial;
  text-decoration: none;
  font-weight: initial;
}

li {
  list-style: none;
}

section {
  padding: 2rem 0;
}

.no_button {
  background-color: transparent;
  border: none;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.container {
  position: relative;
}

button:hover {
  cursor: pointer;
}

.button_style {
  border: none;
  padding: 1rem;
  border-radius: 0.75rem;
  font-weight: bold;
  background-color: var(--light-color);
  color: var(--dark-color);
  box-shadow: var(--box-shadow);
  margin: 1rem;
  animation: pulse infinite 2s;
}
/** animation **/ 
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/*** fin animation **/ 
.margin1r0 {
  margin: 1rem 0;
}
.margin0r1r {
  margin: 0 1rem;
}

.light, .light * {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.light button {
  background-color: var(--main-bg-color);
  color: var(--light-color);
}
/********************************************************************* NAV *********************************************************************/ 
header, header * {
  background-color: var(--light-color);
}

header {
  position: relative;
}

.openBurger {
  z-index: 2;
  height: 100%;
  padding: 0 0 2rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  animation: open 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes open {
  0% {
    transform: scale(0);
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
}

.openBurger button {
  width: 100%;
  font-size: 2rem;
  padding: 2rem 1rem;
  border: none;
  color: var(--dark-color);
}

button.croix {
  display: flex;
  justify-content: flex-end;
  width: 95%;
  margin-left: 0.5rem;
  box-shadow: none;
}

.croix img {
  height: 3rem;
  padding: 0.5rem;
}

.header {
  align-items: center;
  flex-wrap: wrap;
}

.burger {
height: 2rem;
padding-left: 1rem;
}

.logo {
  height: 4rem;
  padding-right: 1rem;
}

.header_bandereau {
  width: 100%;
  color: var(--main-bg-color);
  font-weight: bolder;
  padding: 0.5rem 1rem;
  text-align: center;
}

.header_bandereau * {
  color: var(--main-bg-color);
}

/********************************************************************* HOME *********************************************************************/ 
.main_container {
  padding: 1rem 3rem;
}

main {
  margin: 0;
  border: none;
}
main, main * {
  overflow: hidden;
}
/************* LANDING IMAGE *************/
.landing_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
  background-color: var(--dark-color);
  position: relative;
  padding: 0;
}

.landing_page, .landing_page * {
  overflow: hidden;
}
.landing_page h1 {
  font-size: 4rem;
  text-align: center;
}

.landing_page h2 {
  font-size: 1rem;
}
.landing_page h1, .landing_page h2 {
  background-color: transparent;
  padding: 0.5rem 2rem;
  z-index: 1;
  margin: 0;
  color: var(--light-color);
  text-align: center;
}

  .background_img {
    position: absolute;
    background-position: 50%;
    min-width: 100vw;
    max-height: 100%;
  }
  .veil {
    position: absolute;
    background-color: var(--secondary-bg-color);
    width: 100%;
    height: 100%;
    opacity: 60%;
  }


  /***************** HISTOIRE *****************/

  .histoire {
    margin: 0 0 -0.5rem;
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .histoire h3 {
    font-size: 3rem;
    padding: 1rem;
    text-align: left;
    width: 100%;
  }

  .histoire img {
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
  }

  .histoire article {
    padding: 2rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
  }

  .histoire article p {
    margin: 1rem 0;
  }
.histoire h4 {
  margin: 1rem 0;
}


.histoire button {
  margin-bottom: 6rem;
}
/********************************* NOTRE HISTOIRE SHAPES TOP ********************************/


.custom-shape-divider-top-1671378446 {
  position: absolute;
  top: 0;
  left: 0;
  width: 140%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1671378446 svg {
  position: relative;
  display: block;
  width: calc(115% + 1.3px);
  height: 104px;
}

.custom-shape-divider-top-1671378446 .shape-fill {
  fill: var(--light-color);
}
/********************************* NOTRE HISTOIRE SHAPES BOTTOM ********************************/
.custom-shape-divider-bottom-1671378180 {
  position: absolute;
  bottom: 0rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1671378180 svg {
  position: relative;
  display: block;
  width: calc(115% + 1.3px);
  height: 104px;
}

.custom-shape-divider-bottom-1671378180 .shape-fill {
  fill: #F1F1F1;
}


/********************************  AUTRE SHAPES  ********************************/

.custom-shape-divider-bottom-1671377551 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1671377551 svg {
  position: relative;
  display: block;
  width: calc(115% + 1.3px);
  height: 104px;
}

.custom-shape-divider-bottom-1671377551 .shape-fill {
  fill: #D0307D;
}

.chance_home {
  overflow: hidden;
}
.chance_home iframe {
  width: 100%;
  height: 15rem;
  border: none;
  margin-top: 2rem;
  overflow: hidden;
}

.carou {
  width: 100vw;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carou * {
  overflow: visible;
}

.carou img.soutien_home_img {
  width: 100vw;
  padding: 2rem;
}

/********************************************************************* Produits *********************************************************************/ 
.produits {
  height: fit-content;
  position: relative;
}

.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.loading img {
  width: 30%;
}

.produits, .produits * {
  overflow: visible;
}

.alice-carousel {
  position: relative;
}

.produits img {
  width: 100%;
}

.produits .arrow {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 35%;
  background-color: transparent;
  opacity: 40%;

}

.produits .arrow img {
  width: 2rem;
  background-color: inherit;
}

.left {
  transform: rotate(90deg);
  left: 0;
}

.right {
  transform: rotate(270deg);
  right: 0;
}

.produits h2 {
  padding: 2rem;
  margin: 2rem;
}

.produits_top {
  margin-top: -0.1rem;
  padding:2rem;
  position: relative;
}

.produits_top h1 {
  margin-top: 5rem;
}

.produits_special {
  padding: 2rem;
}

.special_container > div {
  margin: 2rem 0;
}

.special_container h4 {
font-size: 1.2rem;
}

.special_container p {
  color: var(--third-color);
  margin-top: 0.5rem;
}

.produits_special h2, .produits h2 {
  background-color: var(--light-color);
  color: var(--main-bg-color);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.produits a {
  display: flex;
}

.produits button {
  margin:1rem auto 8rem;
}

/********************************************************************* SOUTIEN *********************************************************************/ 
.soutien_container {
  position: relative;
}
.soutien_container h1 {
  margin: 8rem 0 2rem;
}

.soutien_container p {
  font-size: 1.2rem;
  padding: 0 2rem;
  color: var(--third-color);
}

.soutien_container a {
  text-decoration: underline;
  font-weight: bold;
  color: var(--light-color);
}
.soutien_top {
  position: relative;
  padding: 0;
}

.soutien_main {
  margin-bottom: 8rem;
}
.soutien_main h2 {
  background-color: var(--light-color);
  color: var(--main-bg-color);
  padding: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}
.soutien_main div {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.soutien_main div * {
  margin: 1rem 0;
}
.soutien_main h3 {
  font-family: initial;
  font-size: 1.5rem;
  letter-spacing: initial;
  margin-bottom: 2rem;
  text-align: center;
}

.soutien_main img {
  height: 40vh;
  background-color: var(--third-color);
  border-radius:30% 70% 55% 45% / 59% 35% 65% 41% ;
}

.soutien_main .img_gossip img {
  height: 34vh;
}
/********************************************************************* CONTACT *********************************************************************/ 

.contact_main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.contact_main_container p {
  font-size: 1.2rem;
}
.contact_top h1{
margin: 8rem 0 2rem;
}

.contact_top div {
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_top p {
  display: flex;
  margin: 2rem 0;
  justify-content: flex-start;
  align-items: center;
}

.contact_top p img {
  margin-right: 1rem;
  overflow: visible;
  height: 3rem;
}

.contact_top iframe {
  width: 100%;
  height: 40vh;
  margin: 0;
}

.contact_horaires {
  padding: 3rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.light_bg, .light_bg * {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.contact_horaires h2 {
  margin-bottom: 2rem;
}

.contact_horaires div {
  font-size: 1.1rem;
  margin: 1rem 0;
}

.contact_feries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top : -0.25rem
}

.contact_feries h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.contact_feries p {
  margin-bottom: 1rem;
}

.contact_paiements h2 {
  margin: 2rem;
  text-align: center;
}

.contact_paiements  div {
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.contact_paiements {
  margin-bottom: 10rem;
}

.contact_paiements img {
  height: 15vw;
  margin: 1rem 0.5rem;
  background-color: var(--light-color);
}

.contact_paiements img.mc {
  padding: 0.5rem;
}

.contact_bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8rem 2rem 8rem;
}

.contact_bottom .ul {
  display: flex;
  margin: 2rem 0;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.contact_bottom img {
  margin-top: 3rem;
  width:10vw;
}


/********************************************************************* FOOTER *********************************************************************/ 

.footer {
  padding: 1rem 2rem;
  align-items: flex-start;
  background-color: var(--light-color);
  color: var(--dark-color);
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.footer * {
  padding: 0.35rem 0;
  background-color: inherit;
  color: inherit;
  overflow: hidden;
}

.footer li, .footer a, .footer div {
  padding: 0.15rem 0;
}
.footer-section {
  width: 100%;
}

.footer_contact ul {
  display: flex;
  justify-content: space-between;

}

.footer img {
  width: 2rem;
  margin: 0 0.25rem;
}

.footer_bottom {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.terry img {
  width: 20vw;
}

.mentions_obligatoires {
  line-height: 1.5;
}

.mentions_obligatoires a {
  text-decoration: underline;
}

/********************************************************************* MENTIONS *********************************************************************/ 
.mentions-container {
  padding: 1rem 4rem;
}

.mentions-container > * {
  padding: 1rem 0;
}

.mentions-container h2 {
  margin-top: 2rem;
}


/******************************************************************************************************************************************/ 
/********************************************************************* DESKTIOP *********************************************************************/ 
/******************************************************************************************************************************************/ 


@media screen and (min-width: 768px) {

  .mobile {
    display: none;
  }

  .desktop {
    display: initial;
  }

/********************************************************************* NAVBAR *********************************************************************/ 
.navbar {
  padding: 0;
}

.navbar * {
  padding: 0rem 2rem;
}

.navbar *:hover {
  transition: 0.3s linear all;
  color: var(--main-bg-color);
  font-weight: bolder ;
}

/********************************************************************* HOME *********************************************************************/ 

.main_container {
  padding: 1rem 3rem;
}

main {
  margin: 0;
  border: none;
}
main, main * {
  overflow: hidden;
}
/************* LANDING IMAGE *************/
.landing_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--dark-color);
  position: relative;
  padding: 0;
}

.landing_page, .landing_page * {
  overflow: hidden;
}
.landing_page h1 {
  font-size: 8rem;
  text-align: center;
}

.landing_page h2 {
  font-size: 1.5rem;
}
.landing_page h1, .landing_page h2 {
  background-color: transparent;
  padding: 0.5rem 2rem;
  z-index: 1;
  margin: 0;
  color: var(--light-color);
  text-align: center;
}

  .background_img {
    position: absolute;
    top: -5rem;
    min-width: 100vw;
    max-height: fit-content;
  }

  .veil {
    position: absolute;
    background-color: var(--secondary-bg-color);
    width: 100%;
    height: 100%;
    opacity: 60%;
  }


  /***************** HISTOIRE *****************/

  .histoire {
    margin: 0 0 -0.5rem;
    padding: 5rem 10rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .histoire div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
  }

  .histoire h3 {
    font-size: 4rem;
    text-align: center;
    width: 100%;
  }

  .histoire img {
    min-width: 35vw;
    padding: 1rem;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    box-shadow: var(--box-shadow);
    margin: 1rem;
  }

  .histoire article {
    padding: 0 3rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
  }
.histoire h4 {
  margin: 1rem 0;
  font-size: 2rem;
}


.histoire button {
  margin-bottom: 6rem;
}
/********************************* NOTRE HISTOIRE SHAPES TOP ********************************/


.custom-shape-divider-top-1671378446 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1671378446 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 80px;
}

.custom-shape-divider-top-1671378446 .shape-fill {
  fill: var(--light-color);
}
/********************************* NOTRE HISTOIRE SHAPES BOTTOM ********************************/
.custom-shape-divider-bottom-1671378180 {
  position: absolute;
  bottom: 0rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1671378180 svg {
  position: relative;
  display: block;
  width: calc(115% + 1.3px);
  height: 104px;
}

.custom-shape-divider-bottom-1671378180 .shape-fill {
  fill: #F1F1F1;
}


/********************************  AUTRE SHAPES  ********************************/

.custom-shape-divider-bottom-1671377551 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1671377551 svg {
  position: relative;
  display: block;
  width: calc(115% + 1.3px);
  height: 104px;
}

.custom-shape-divider-bottom-1671377551 .shape-fill {
  fill: #D0307D;
}
/*****  SOUTIEN *****/

.soutien_home {
  margin-bottom: 0;
  padding-bottom: 0;
}

.soutien_home div {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin: 0;
  overflow: hidden;
}

.soutien_home button {
  margin-bottom: 10rem;
}

.soutien_home article {
  width: 80%;
  padding-top: 0;
}
.soutien_home a {
  height: fit-content;
}

.carou {
  width: 50vw;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.soutien_home .carou .soutien_home_img {
  max-width: 1%;
  height: auto;
  border-radius: 50%;
  margin: 0 2rem;
}

/******* Chances ****************/

.chance_home div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  height: fit-content;
  overflow: hidden;
}

.chance_home iframe {
  width: 80vw;
  height: 46vh;
  border: none;
}

.chance_home article {
  width: 100%;
}

.chance_home button {
  margin: 4rem 2rem 10rem;
}


/********************************************************************* Produits *********************************************************************/ 

.loading img {
  width: 10%;
}

.produits img {
  width: 100%;
}

.produits .arrow {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 35%;
  background-color: transparent;
  opacity: 40%;

}

.produits .arrow img {
  width: 2rem;
  background-color: inherit;
}

.left {
  transform: rotate(90deg);
  left: 0;
}

.right {
  transform: rotate(270deg);
  right: 0;
}

.produits h2 {
  padding: 2rem;
  margin: 2rem;
}

.produits_top {
  margin-top: -0.1rem;
  padding:2rem;
  position: relative;
}

.produits_top h1 {
  margin-top: 5rem;
}

.produits_top p {
  text-align: center;
  margin: 2rem 0;
}
.produits_special {
  padding: 2rem 15rem;
}

.special_container > div {
  margin: 2rem 0;
}

.special_container h4 {
font-size: 1.2rem;
}

.special_container p {
  color: var(--third-color);
  margin-top: 0.5rem;
  padding-right:4rem;
}

.produits_special h2, .produits h2 {
  background-color: var(--light-color);
  color: var(--main-bg-color);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.produits h2 {
  margin: 2rem 15rem;
}

.produits a {
  display: flex;
}

.produits button {
  margin:1rem auto 8rem;
}


/********************************************************************* SOUTIEN *********************************************************************/ 
.soutien_container {
  position: relative;
}
.soutien_container h1 {
  margin: 8rem 0 2rem;
}

.soutien_container p {
  font-size: 1.2rem;
  color: var(--third-color);
}

.soutien_container a {
  text-decoration: underline;
  font-weight: bold;
  color: var(--light-color);
}
.soutien_top {
  position: relative;
  padding: 0 15rem;
}

.soutien_main {
  margin-bottom: 8rem;
  padding: 5rem 10rem;
}

.soutien_main h2 {
  background-color: var(--light-color);
  color: var(--main-bg-color);
  padding: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  width: 4rem;
  writing-mode: vertical-rl;
  text-orientation: revert;
display: flex;
justify-content: center;
align-items: center;
}

.soutien_main article {
  display: flex;
}

.soutien_main div {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width:40vw;
}

.soutien_main div * {
  margin: 1rem 0;
}
.soutien_main h3 {
  font-family: initial;
  font-size: 1.5rem;
  letter-spacing: initial;
  margin-bottom: 2rem;
  text-align: center;
}

.soutien_main img {
  height: 40vh;
  background-color: var(--third-color);
  border-radius:30% 70% 55% 45% / 59% 35% 65% 41% ;
}
/********************************************************************* CONTACT *********************************************************************/ 

.contact_main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.contact_main_container p {
  font-size: 1.2rem;
}

.contact_main_container .loading {
  margin-top: 8rem;
}

.contact_top div {
  padding: 0 20rem;
  justify-content: flex-start;
  align-items: flex-start;
}

.contact_top p {
  display: flex;
  margin: 2rem 0;
  padding: 0 15rem;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.contact_top p img {
  margin-right: 1rem;
  overflow: visible;
  height: 2rem;
}

.contact_top iframe {
  width: 100vw;
  height: 70vh;
}

.contact_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.horaires_joursferies {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 2rem 20rem;
}

.contact_horaires {
  padding:2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.light_bg, .light_bg * {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.contact_horaires h2 {
  margin-bottom: 1rem;
  text-align: left;
}

.contact_horaires div {
  font-size: 1.1rem;
  margin: 1rem 0;
}

.contact_feries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top : -0.25rem
}

.contact_feries h2 {
  text-align: left;
  margin-bottom: 2rem;
}

.contact_feries p {
  margin-bottom: 1rem;
}
.contact_paiements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 2rem;
}
.contact_paiements h2 {
  margin: 2rem 0;
  text-align: center;
}

.contact_paiements  div {
 display: flex;
 justify-content: space-around;
 align-items: flex-end;
}

.contact_paiements {
  margin-bottom: 10rem;
}

.contact_paiements img {
  height: 3.5vw;
  margin: 1rem 0.5rem;
  background-color: var(--light-color);
}

.contact_paiements img.mc {
  padding: 0.5rem;
}

.contact_bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8rem 2rem 8rem;
}

.contact_bottom .ul {
  display: flex;
  margin: 2rem 0;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.contact_bottom img {
  margin-top: 3rem;
  width:10vw;
}

/********************************************************************* FOOTER *********************************************************************/ 

.footer {
  padding: 1rem 2rem;
  align-items: flex-start;
  background-color: var(--light-color);
  color: var(--dark-color);
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer * {
  padding: 0.5rem 0;
  background-color: inherit;
  color: inherit;
  overflow: hidden;
}

.footer > * {
  margin: 1rem;
}

.footer li, .footer a, .footer div {
  padding: 0.15rem 0;
}
.footer-section {
  width: 100%;
}

.footer_contact ul {
  display: flex;
  justify-content: space-between;

}

.footer img {
  width: 2rem;
  margin: 0 0.25rem;
}

.footer_bottom {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.terry img {
  width:4vw;
}

.mentions_obligatoires {
  line-height: 1.5;
}

.mentions_obligatoires a {
  text-decoration: underline;
}

/******************************** FIN *******************************/


.mobile, .mobile * {
  display: none;
}

.desktop, .desktop * {
  display: initial;
}
}